@keyframes bgMove{

0%{

transform:translate(0,0);

}

100%{

transform:translate(-60px,-40px);

}

}
@keyframes floatLogo{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-8px);

    }

    100%{

        transform:translateY(0px);

    }

}
.touchParticle{

    position:fixed;

    width:8px;

    height:8px;

    border-radius:50%;

    pointer-events:none;

    z-index:999999;

    animation:touchExplosion .7s ease-out forwards;

    box-shadow:
    0 0 10px currentColor;

}

@keyframes touchExplosion{

    0%{

        transform:
        translate(-50%,-50%)
        scale(.2);

        opacity:1;

    }

    100%{

        transform:
        translate(
            calc(-50% + var(--dx)),
            calc(-50% + var(--dy))
        )
        scale(1.6);

        opacity:0;

    }

}

/* Respiración de la carta */

@keyframes cardAura{

    0%{

        transform:translateY(0);

        box-shadow:
        0 0 10px rgba(168,85,247,.25);

    }


    50%{

        transform:translateY(-3px);

        box-shadow:
        0 0 25px rgba(168,85,247,.55);

    }


    100%{

        transform:translateY(0);

        box-shadow:
        0 0 10px rgba(168,85,247,.25);

    }

}


/* Movimiento del brillo */

@keyframes auraMove{

    0%{

        background-position:
        0% 50%;

    }


    100%{

        background-position:
        200% 50%;

    }

}