@keyframes bgMove{

0%{

transform:translate(0,0);

}

100%{

transform:translate(-60px,-40px);

}

}
@keyframes floatLogo{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-8px);

    }

    100%{

        transform:translateY(0px);

    }

}