/* ===========================
   CARD GRID
=========================== */

#cardContainer{

    display:grid;

    gap:22px;

    padding-bottom:40px;

}

/* ===========================
   CARD
=========================== */

.card{

    position:relative;

    background:rgba(255,255,255,.06);

    backdrop-filter:blur(15px);

    border-radius:24px;

    overflow:hidden;

    transition:.35s;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:

        0 10px 25px rgba(0,0,0,.25);

}

.card:hover{

    transform:translateY(-6px);

    box-shadow:

        0 20px 35px rgba(0,0,0,.35);

}

/* ===========================
   IMAGE
=========================== */

.cardImage{

    width:100%;

    aspect-ratio:63/88;

    background:#26293a;

    display:flex;

    justify-content:center;

    align-items:center;

}

.cardImage img{

    width:88%;

    transition:.35s;

}

.card:hover img{

    transform:scale(1.05);

}

/* ===========================
   INFO
=========================== */

.cardBody{

    padding:18px;

}

.cardSet{

    font-size:22px;

    font-weight:bold;

    margin-bottom:8px;

}

.cardNumber{

    color:#b8bfd8;

    margin-bottom:5px;

}

.cardYear{

    color:#8b91a8;

    font-size:14px;

}

/* ===========================
   BUTTON
=========================== */

.cardButton{

    margin-top:18px;

    width:100%;

    padding:14px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    background:#7c3aed;

    color:white;

    font-size:15px;

    transition:.3s;

}

.cardButton:hover{

    background:#9654ff;

}

.card.owned{

    border:2px solid #7c3aed;

}

.pokemonName{

    font-size:26px;

    font-weight:bold;

    margin-bottom:8px;

}

.cardRare{

    margin-top:10px;

    color:#ffd95c;

    font-size:15px;

}