#cardContainer{

display:grid;

gap:20px;

}



.card{
    position: relative;

    background: rgba(21,21,32,.85);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,.06);

    border-radius: 18px;

    overflow: hidden;

    transition: .25s ease;

    cursor: pointer;
}



.card.owned{

border-color:#8b5cf6;

}



.cardImage{

padding:20px;

background:#25283a;

}



.cardImage img{

width:100%;

display:block;

}



.cardBody{

padding:20px;

}



.cardBody h2{

margin-bottom:8px;

}



.cardBody h3{

color:#aaa;

margin-bottom:10px;

}



button{

width:100%;

padding:15px;

margin-top:15px;

border:0;

border-radius:15px;

background:#7c3aed;

color:white;

font-size:16px;

}