#cardContainer{

display:grid;

gap:20px;

}



.card{

background:#191c29;

border-radius:25px;

overflow:hidden;

border:2px solid transparent;

}



.card.owned{

border-color:#8b5cf6;

}



.cardImage{

padding:20px;

background:#25283a;

}



.cardImage img{

width:100%;

display:block;

}



.cardBody{

padding:20px;

}



.cardBody h2{

margin-bottom:8px;

}



.cardBody h3{

color:#aaa;

margin-bottom:10px;

}



button{

width:100%;

padding:15px;

margin-top:15px;

border:0;

border-radius:15px;

background:#7c3aed;

color:white;

font-size:16px;

}