*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:"Poppins",sans-serif;

overflow-x:hidden;

min-height:100vh;

position:relative;

}

body::before{

content:"";

position:fixed;

inset:-20%;

background:

radial-gradient(circle at 20% 20%,
rgba(139,92,246,.18),
transparent 30%),

radial-gradient(circle at 80% 35%,
rgba(168,85,247,.12),
transparent 35%),

radial-gradient(circle at 50% 100%,
rgba(45,212,191,.08),
transparent 45%);

filter:blur(70px);

animation:bgMove 20s ease-in-out infinite alternate;

z-index:-2;

}


body::after{

content:"";

position:fixed;

inset:0;

background-image:

radial-gradient(
rgba(255,255,255,.08) 1px,
transparent 1px);

background-size:42px 42px;

opacity:.15;

z-index:-1;

pointer-events:none;

}

.hideLoader{

    animation:

    loaderOut .8s forwards;

}


@keyframes loaderOut{

    from{

        opacity:1;

        backdrop-filter:blur(15px);

    }


    to{

        opacity:0;

        backdrop-filter:blur(0);

    }

}

